In [1]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import time

In [2]:
driver = webdriver.Chrome('./chromedriver.exe')

In [3]:
url = 'https://www.tripadvisor.com/Search?q=south%20korea&searchSessionId=470ABCDA6E9199ADAD85A571C57369281618334553723ssid&searchNearby=false&sid=EC37354CF84B431D9D6FC80F5003425E1618334567611&blockRedirect=true&ssrc=ac&rf=1'

In [4]:
driver.get(url)
driver.implicitly_wait(10)
time.sleep(3)

In [5]:
results = driver.page_source
soup = BeautifulSoup(results, 'lxml')

In [19]:
def get_reviews(driver):
    results = driver.page_source
    soup = BeautifulSoup(results, 'lxml')
    
    result = []
    for i in range(0,30): 
        tour_title = soup.select('div.result-title')[i].text
        tour_location = soup.select('div.address-text')[i].text
        result.append([tour_title, tour_location])
        i += 1
    
    df = pd.DataFrame(result)
    df.columns = ['tour_title', 'tour_location']
    
    return df

def next_reviews(driver):

    result_all = pd.DataFrame()
    
    for page in range(0,34):
        pg_review = get_reviews(driver)
        result_all = pd.concat([result_all, pg_review], axis = 0)
        print(f'{page} page done')
        
        try:
            driver.find_element_by_xpath("//a[@class='ui_button nav next primary ']").click()
            time.sleep(3)
            page += 1
            
        except:
            break
            
    return result_all

In [20]:
driver.get(url)
driver.implicitly_wait(10)
time.sleep(3)

reviews = next_reviews(driver)
reviews

0 page done
1 page done
2 page done
3 page done
4 page done
5 page done
6 page done
7 page done
8 page done
9 page done
10 page done
11 page done
12 page done
13 page done
14 page done
15 page done
16 page done
17 page done
18 page done
19 page done
20 page done
21 page done
22 page done
23 page done
24 page done
25 page done
26 page done
27 page done
28 page done
29 page done
30 page done
31 page done
32 page done
33 page done

,tour_title,tour_location
0,Korean History & Heritage Tour,"Seoul, South Korea"
1,Seoul Private Flexible Adventure Tour,"Seoul, South Korea"
2,Fully Customizable Private Tour From Seoul to ...,"Seoul, South Korea"
3,Half-Day Korean DMZ Tour from Seoul,"Seoul, South Korea"
4,Korean Demilitarized Zone (DMZ) Half-Day Tour ...,"Seoul, South Korea"
...,...,...
25,"Loch Lomond, Kelpies & Stirling Castle Small-G...","Edinburgh, Scotland, United Kingdom"
26,2-Day Loch Ness and Inverness Small-Group Tour...,"Edinburgh, Scotland, United Kingdom"
27,Boston to Salem One-Way or Round-Trip High Spe...,"Boston, Massachusetts"
28,Daintree and Cape Tribulation Tour from Cairns,"Cairns, Cairns Region, Queensland, Australia"
29,"Pinnacles Desert, Koalas and Sandboarding 4WD ...","Perth, Greater Perth, Western Australia, Austr..."

In [22]:
reviews.to_excel('tour_titles_all.xlsx')

In [27]:
reviews_korea = reviews[reviews['tour_location'].str.contains('South Korea')]
reviews_korea

                                           tour_title       tour_location
0                      Korean History & Heritage Tour  Seoul, South Korea
1               Seoul Private Flexible Adventure Tour  Seoul, South Korea
2   Fully Customizable Private Tour From Seoul to ...  Seoul, South Korea
3                 Half-Day Korean DMZ Tour from Seoul  Seoul, South Korea
4   Korean Demilitarized Zone (DMZ) Half-Day Tour ...  Seoul, South Korea
..                                                ...                 ...
28  Korean Palace and Temple Tour in Seoul: Gyeong...  Seoul, South Korea
2                                 Korean Folk Village  Seoul, South Korea
7                            History and Culture Tour  Seoul, South Korea
20  Gyeongbokgung Palace Hanbok Rental Experience ...  Seoul, South Korea
19  Gyeongbokgung Palace Hanbok Rental Experience ...  Seoul, South Korea

[147 rows x 2 columns]

In [28]:
reviews.to_excel('tour_titles_korea.xlsx')